<div class="form-group">
	<label for="">{{label}}</label>
	<div class="input-group ember-date-time-picker">
		<span class="input-group-addon">
			<span class="glyphicon glyphicon-time"></span>
		</span>
		<span class="input-append date form_datetime">
			<span class="add-on"><i class="icon-th"></i></span>
		    <input size="16" type="text" value="" readonly class="form-control">
		</span>
	</div>
</div>