@import 'materialize';
@import 'components/md-selectize';

/* FIXME: Workaround for https://github.com/Dogfalo/materialize/issues/1079 */
@each $mdi-icon-name, $mdi-icon-value in $mdi-list-icons {
  .#{$mdi-prefix}#{$mdi-icon-name}:before {
    content: "\""+ $mdi-icon-value +"\"";
  }
}

body {
  background: #eee;
}

.avatar-circle {
	width: 40px;
	height: 40px;
}

.loader-container {
  margin-top: 10%;
}

.toast-container {
  position: fixed;
  right: 0px;
  max-width: 100%;
  z-index: 1;
}
.druid-top-n-list {
  th {
    height: 0;
    padding: 0;
  }
  .card .card-content .card-title {
    line-height: 24px;
  }
  .card .card-title {
    font-size: 20px;
  }

  table {
    tbody tr:first-child td {
      padding-top: 15px;
    }
    td, th {
      padding: 5px;
      font-size: 12px;
    }
  }
}

.nf-area > .area {
  fill: $primary_color;
}
.nf-graph > .background {
  fill: transparent;
}

.topN-lists {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  .col.s12:first-child .druid-top-n-list {
    margin-top: -10px;
  }
}
